.DS_Store
.idea
*.log
tmp/

*.tern-port
node_modules/
Thomas2018-CSSIn44Minutes/root/node_modules/
King-CAModernApproach/o/*
King-CAModernApproach/.ccls-cache
*/.ccls-cache
King
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.tsbuildinfo
.npm
.eslintcache


### Created by https://www.gitignore.io
### Erlang ###
.eunit
*.o
*.beam
*.plt
erl_crash.dump
.concrete/DEV_MODE

# rebar 2.x
.rebar
rel/example_project
ebin/*.beam
deps

# rebar 3
.rebar3
_build/
_checkouts/

### Erlang Patch ###
rebar3.crashdump

### Elixir ###
/_build
/cover
/deps
/doc
/.fetch
erl_crash.dump
*.ez
*.beam
/config/*.secret.exs
.elixir_ls/

### Elixir Patch ###
/doc

/Exploration/exr/measurements_ex.txt
